{# templates/bundles/EasyAdminBundle/layout.html.twig #}
{# DON'T DO THIS: it will cause an infinite loop #}

{% extends '@EasyAdmin/layout.html.twig' %}

	{% block content %}
        <h1>Loic Medium Radiesthésie</h1>
    {% endblock %}
