{% extends 'base.html.twig' %}

{% block title %}
	Page non trouvée
{% endblock %}

{% block body %}

	<!-- 404 Section Start -->
	<section class="section_404">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content_404">
						<img src="images/404.png" alt=""/>
						<div class="clearfix"></div>
						<a href="#" class="fnc_btn reverses">
							<span>Back to Homepage<i class="bx bx-right-arrow-alt"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- 404 Section End -->

{% endblock %}
